<!DOCTYPE html>
<html>
<head>
    <title>Student List</title>
</head>
<body>

<h1>Student List</h1>

{% if user.is_authenticated %}
<p>Logged in as: {{ user.username }}</p>

<form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
</form>
{% endif %}

<a href="{% url 'student_create' %}">Register Student</a>
<a href="{% url 'student_dashboard' %}">Student Dashboard</a>

{% for student in students %}
    <p>
        {{ student.student_name }} -
        {{ student.program }} -
        Year {{ student.year_level }} -
        {{ student.email }}
        |
        <a href="{% url 'student_update' student.pk %}">Edit</a>
        |
        <a href="{% url 'student_delete' student.pk %}">Delete</a>
    </p>
{% empty %}
    <p>No students found.</p>
{% endfor %}

</body>
</html>